@import url('https://fonts.googleapis.com');
body{
    font-family: 'Roboto', sans-serif;
}
main-grid{
    /* setup grid for header and main content */
    display: grid;
    grid-template-rows: 15% auto;
    height: 100vh;
}
/* header styles */
header-section{
    background-color: #006370;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
header-section h2{
    font-size: 18px;
}
header-section h1{
    font-weight: bold;
    font-size: 24px;
}
.addBtn{
    font-size: 1em;
    border-radius: 20px;
    height: 25px;
    margin-top: 5px;
    background-color: #002c44;
    color: white;
}
.addBtn:active {
    background-color: white;
    color :black;
}
/*main styles */
book-shelf{
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-evenly;
    gap: 20px;
    background-color: #e5e5e5;
    overflow-y: scroll;
}

/*book card styles */
.bookCard{
    background-color: #7dc7c9;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 5px;
    height: fit-content;
    min-width: 150px;
}
card-btns{
    padding-top: 5px;
}
.cardBtn{
    border-radius: 20px;
    font-size: 1em;
}
.bookCover{
    height: 80px;
}
#Read{
    color: #24442b;
    background-color: #c0f2c0;
    font-weight: bold;
}
#Unread{
    color: #510d00;
    background-color: #efd0ca;
    font-weight: bold;
}
#rmvBtn{
    background-color: #c0f9ff;
    color: #000a68;
}

/* dialog styles */
dialog[open]{
    background-color: #002c44;
    color: white;
    border-radius: 10%;
    border: none;
    display: flex;
    flex-direction: column;
    
}
::backdrop{
    background-image: linear-gradient(
        45deg,
        magenta,
        rebeccapurple,
        dodgerblue,
        green
    );
    opacity: 0.75;
}
#clsDialogBtn{
    border-radius: 50px;
    margin-bottom: 10px;
    align-self: flex-end;
    background-color: darkred;
    color: pink;
}
#submitBook{
    margin-top: 10px;
    background-color: darkgreen;
    color: lightgreen;
    border-radius: 50px;
    margin-left: 60px;
}
input[type=text]{
    border-radius: 50px;
}
label{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
input:focus{
    outline: none;
    border: 2px solid yellow;
}
